<h3>Product name: <%= @product.name %></h3>
<h4>Product cost: $<%= @product.cost %></h4>
<h4>Product country of origin: <%= @product.country_of_origin %></h4>

<hr>

<p><%= link_to "Edit", edit_product_path(@product) %></p>
<p><%= link_to "Delete", product_path(@product),
  :data => {:confirm => "You sure?",
  :method => "delete"} %></p>

  <p><%= link_to "Return to products", products_path %></p>

<hr>



  <% if @product.reviews.any? %>
  <h4>Here are the reviews for this product:</h4>

  <% @product.reviews.each do |review| %>
  <ul>
    <li>
      On <%= review.updated_at.year %>-<%= review.updated_at.month %>-<%= review.updated_at.day %> @ <%= (review.updated_at.time.hour) %>:<%= (review.updated_at.strftime("%M:%S")) %>, <%= review.author %> rated this product a <em><%= review.rating %></em>, see their review <%= link_to "here", product_review_path(@product, review) %>.
    </li>
  </ul>
  <% end %>
  <% else %>
  <p>No reviews are listed for this product.</p>
  <% end %>

  <p><%= link_to "Add a review", new_product_review_path(@product) %></p>
